<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <img src="https://image.winudf.com/v2/image1/Y29tLmppbW15bmV1dHJvb25waWN0dXJlcy5oZnppbmNfc2NyZWVuXzBfMTU4NDMxODgzNl8wOTQ/screen-0.jpg?fakeurl=1&type=.jpg" alt="Lucas Castro">
  <h1> Lucas de Castro Gama</h1>
  <p> Estudante de programação.</p>
  <a href="mailto:castrolucas131@gmail.com"> castrolucas131@gmail.com </a>
</ion-content>
